<template name="processingSketch">
  <!--<canvas id="mysketch" data-processing-sources="mysketch.pde"></canvas>-->

	  
	   <!--  <canvas id="canvas1" width="200" height="200"></canvas> -->
   <!--   <canvas id="sketch" data-processing-sources="dynamics.pde traer.pde widgets.pde Noeud.pde Statement.pde"></canvas> -->
   
<canvas id="sketch" data-processing-sources="DreamCatcherAtomiq39session.pde">pas chargé</canvas> 
     <!--  <canvas id="sketch" data-processing-sources="test.pde">pas chargé</canvas>-->
	<div><a href="http://smag-smag0.rhcloud.com/DreamCatcher/help.html" target="_blank" >Aide / Help / Control</a> </div>
   
</template>