<template name="postItem">
  <div class="post">
   <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <!--<h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>-->
	  <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span><a href="{{url}}">{{domain}}</a></span></h3>
      <p>
	 {{pluralize votes "Vote"}},
                Rédigé par <a href="{{pathFor 'userPage'}}">{{author}}</a>,
       <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "commentaire"}}</a>
	   	   <a href="{{pathFor 'postPage'}}">{{pluralize statementsCount "statement"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
	<!--{{#if ownPost}}<a href="{{pathFor 'graphEdit'}}">Editer le graphe</a>{{/if}}-->
      </p>
	  <div>{{description}}</div>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>